# Aula 02

**obs:** Veja no slide as instruções para configurar o ambiente para executar este aquivo.

Aluno(a):

## Carregando o conjunto de dados

In [7]:
import pandas as pd
import requests
from io import StringIO

# IDs dos arquivos no Google Drive
file_id = '15aOJIGAyLMSY1gecjiCgu2ko_riIcKQy'   # Estudantes
file_id2 = '1Jgto7psHaMRTAVzcFt7D6SgJiHMB7uGT'  # Escolas

# URLs para download
url = f"https://drive.google.com/uc?id={file_id}"
url2 = f"https://drive.google.com/uc?id={file_id2}"

# Obtenção dos arquivos
try:
    # Primeiro arquivo - Estudantes
    response = requests.get(url)
    response.raise_for_status()
    csv_raw = StringIO(response.text)
    estudantes = pd.read_csv(csv_raw)
    
    # Segundo arquivo - Escolas
    response2 = requests.get(url2)
    response2.raise_for_status()
    csv_raw2 = StringIO(response2.text)
    escolas = pd.read_csv(csv_raw2)

except requests.RequestException as e:
    print(f"Erro ao acessar o arquivo: {e}")

**obs.:** todas as vezes que o presente arquivo for aberto é necessário executar a célula acima.

Analisando os dataframes

1 - Escolas

In [9]:
print(estudantes.isnull().sum())
print(escolas.isnull().sum())

ID_Estudante       0
Nome_Estudante     0
Genero             0
Serie              0
Nome_Escola        0
Nota_Redacao       0
Nota_Matematica    0
dtype: int64
ID_Escola          0
Nome_Escola        0
Tipo_Escola        0
Numero_Alunos      0
Orcamento_Anual    0
dtype: int64

2 - Estudantes

In [10]:
print(set(estudantes.columns).intersection(set(escolas.columns)))

{'Nome_Escola'}

Perguntas:

Existem dados faltantes nas tabelas? 

R: .

Existe algo em comum nas duas tabelas? 

R: .

### Combinando os datasets

In [13]:
df = pd.merge(estudantes, escolas, on="Nome_Escola")

As colunas Genero, Serie e Tipo Escola representam dados categóricos. Como podemos verificar a quantidade de valores distintos que existem em cada categoria?

In [14]:
print(df['Genero'].value_counts())
print(df['Serie'].value_counts())
print(df['Tipo_Escola'].value_counts())

Genero
F    19728
M    19432
Name: count, dtype: int64
Serie
6    11406
7    10165
8     9692
9     7897
Name: count, dtype: int64
Tipo_Escola
Publica       26976
Particular    12184
Name: count, dtype: int64

In [16]:
print("Colunas do DataFrame 'estudantes':")
print(estudantes.columns.tolist())

print("\nPrimeiras linhas de 'estudantes':")
print(estudantes.head())

print("\n\nColunas do DataFrame 'escolas':")
print(escolas.columns.tolist())

print("\nPrimeiras linhas de 'escolas':")
print(escolas.head())

Colunas do DataFrame 'estudantes':
['ID_Estudante', 'Nome_Estudante', 'Genero', 'Serie', 'Nome_Escola', 'Nota_Redacao', 'Nota_Matematica']

Primeiras linhas de 'estudantes':
   ID_Estudante  Nome_Estudante Genero  Serie Nome_Escola  Nota_Redacao  \
0             0   Kevin Bradley      M      6    Escola A            66
1             1      Paul Smith      M      9    Escola A            94
2             2  John Rodriguez      M      9    Escola A            90
3             3    Oliver Scott      M      9    Escola A            67
4             4     William Ray      F      6    Escola A            97

   Nota_Matematica
0               79
1               61
2               60
3               58
4               84


Colunas do DataFrame 'escolas':
['ID_Escola', 'Nome_Escola', 'Tipo_Escola', 'Numero_Alunos', 'Orcamento_Anual']

Primeiras linhas de 'escolas':
   ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0          0    Escola A     Publica           2917          1910635
1          1    Escola B     Publica           2949          1884411
2          2    Escola C  Particular           1761          1056600
3          3    Escola D     Publica           4635          3022020
4          4    Escola E  Particular           1468           917500

### Algumas perguntas:

Qual o orçamento total das escolas?

In [17]:
orcamento_total = escolas['Orcamento_Anual'].sum()
print(f"Orçamento total: {orcamento_total}")

Orçamento total: 24649428

Qual a nota média dos alunos nas disciplinas analisadas?

In [18]:
media_matematica = estudantes['Nota_Matematica'].mean()
media_redacao = estudantes['Nota_Redacao'].mean()
print(media_matematica, media_redacao)

78.98493360572012 81.87574055158325

Organizando os resultados

Quantos alunos ficaram com nota superior a 90 em redação?

In [19]:
alto_redacao = df[df['Nota_Redacao'] > 90]
print(len(alto_redacao))

9973

E qual o percentual?

In [20]:
percentual_redacao = (len(alto_redacao) / len(df)) * 100
print(percentual_redacao)

25.467313585291112

Quantos alunos ficaram com nota superior a 90 em matemática?

In [21]:
alto_matematica = df[df['Nota_Matematica'] > 90]
print(len(alto_matematica))

8834

Qual o percentual?

In [22]:
percentual_matematica = (len(alto_matematica) / len(df)) * 100
print(percentual_matematica)

22.558733401430032

Quantos Alunos tiraram nota maior do que 90 nas duas disciplinas?

In [23]:
alto_ambas = df[(df['Nota_Redacao'] > 90) & (df['Nota_Matematica'] > 90)]
print(len(alto_ambas))

2323

Qual o percentual?

In [24]:
percentual_ambas = (len(alto_ambas) / len(df)) * 100
print(percentual_ambas)

5.932073544433095

Quantos alunos que obtiveram alto desempenho em ambas as disciplinas são de escolas públicas?

In [25]:
publicos_alto = alto_ambas[alto_ambas['Tipo_Escola'] == 'Pública']
print(len(publicos_alto))

0

Quantas alunas obtiveram alto desempenho em ambas as disciplinas?

In [26]:
alunas_alto = alto_ambas[alto_ambas['Genero'] == 'Feminino']
print(len(alunas_alto))

0

Como ficou a distribuição dos alunos de alto desempenho pelas série?

In [27]:
print(alto_ambas['Serie'].value_counts())

Serie
6    663
8    604
7    599
9    457
Name: count, dtype: int64

Qual o total por escolas?

In [28]:
print(alto_ambas['Nome_Escola'].value_counts())

Nome_Escola
Escola D    252
Escola H    252
Escola M    239
Escola L    183
Escola F    172
Escola G    155
Escola K    153
Escola A    143
Escola B    142
Escola O    129
Escola C    129
Escola E    126
Escola N    110
Escola J     96
Escola I     42
Name: count, dtype: int64

Qual o orçamento per capita de cada escola?

In [31]:
alunos_por_escola = estudantes.groupby('Nome_Escola').size()

# Depois mapeia no DataFrame escolas para calcular o orçamento per capita
escolas['Alunos_Estudantes'] = escolas['Nome_Escola'].map(alunos_por_escola)

escolas['Orcamento_per_capita_estudantes'] = escolas['Orcamento_Anual'] / escolas['Alunos_Estudantes']

print(escolas[['Nome_Escola', 'Alunos_Estudantes', 'Orcamento_per_capita_estudantes']])

   Nome_Escola  Alunos_Estudantes  Orcamento_per_capita_estudantes
0     Escola A               2917                       655.000000
1     Escola B               2949                       639.000000
2     Escola C               1761                       600.000000
3     Escola D               4635                       652.000000
4     Escola E               1468                       625.000000
5     Escola F               2283                       578.000000
6     Escola G               1858                       582.000000
7     Escola H               4976                       628.000000
8     Escola I                427                       581.000000
9     Escola J                962                       609.000000
10    Escola K               1800                       583.000000
11    Escola L               3999                       637.000000
12    Escola M               4761                       650.000000
13    Escola N               2739                       644.000000
14    Escola O               1625                       641.926154

Quais foram as escolas mais eficientes? 

Para tentar responder essa pergunta vamos adicionar o percentual de alunos de alto desempenho ao nosso dataset.

In [33]:

alto_desempenho = estudantes[
    (estudantes['Nota_Redacao'] > 80) & (estudantes['Nota_Matematica'] > 80)
]


total_alunos = estudantes.groupby('Nome_Escola').size()
alunos_alto_desempenho = alto_desempenho.groupby('Nome_Escola').size()


percentual_alto_desempenho = (alunos_alto_desempenho / total_alunos) * 100

escolas['Percentual_Alto_Desempenho'] = escolas['Nome_Escola'].map(percentual_alto_desempenho)


escolas['Orcamento_per_capita'] = escolas['Orcamento_Anual'] / escolas['Numero_Alunos']


escolas_eficiencia = escolas.sort_values(
    by=['Percentual_Alto_Desempenho', 'Orcamento_per_capita'],
    ascending=[False, True]
)

print(escolas_eficiencia[['Nome_Escola', 'Percentual_Alto_Desempenho', 'Orcamento_per_capita']])

   Nome_Escola  Percentual_Alto_Desempenho  Orcamento_per_capita
9     Escola J                   37.422037                 609.0
10    Escola K                   37.277778                 583.0
14    Escola O                   37.046154                 638.0
5     Escola F                   36.574682                 578.0
8     Escola I                   36.533958                 581.0
4     Escola E                   36.035422                 625.0
2     Escola C                   35.831914                 600.0
6     Escola G                   35.252960                 582.0
3     Escola D                   22.481122                 652.0
7     Escola H                   21.744373                 628.0
1     Escola B                   21.736182                 639.0
13    Escola N                   21.467689                 644.0
12    Escola M                   21.403067                 650.0
0     Escola A                   21.288996                 655.0
11    Escola L                   21.105276                 637.0